<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Skycord</title>
  <link rel="stylesheet" type="text/css" href="../CSS/page_de_connexion.css" media="screen"/link>
</head>
<body>
  <header>
    <h1>Skycord</h1>
  </header>
  <main>
    <h2>Bienvenue</h2>
    <form action="index.php" method="post">
      <input type="text" name="username" placeholder="Nom d'utilisateur">
      <input type="password" name="password" placeholder="Mot de passe">
      <input type="submit" value="Créer un compte">
      <a href="#">Mot de passe oublié</a>
    </form>
  </main>
</body>
</html>
