*{
  box-sizing: border-box;
}

body {
  color: #fff;
  background-image: url('../Image/Background_connexion.png');
}

.container {
  background-color:darkgrey;
  margin: auto;
  padding: 40px;
  box-shadow: 0 0 10px #000;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  width: 500px;
  height: 430px;
}

.Mot_de_passe {
  background-color:darkgrey;
  margin: auto;
  padding: 40px;
  box-shadow: 0 0 10px #000;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  width: 500px;
  height: 300px;
}
.inscription {
  background-color:darkgrey;
  margin: auto;
  padding: 40px;
  box-shadow: 0 0 10px #000;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  width: 500px;
  height: 480px;
}
h1{
  text-align: center;
}

.container input {
  margin: 10px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
}

.container button {
  margin: 10px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  background-color: #7289da;
  color: #fff;

}

.Mot_de_passe input {
  margin: 10px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
}

.Mot_de_passe button {
  margin: 10px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  background-color: #7289da;
  color: #fff;
}

.inscription input {
  margin: 10px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
}

.inscription button {
  margin: 10px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  background-color: #7289da;
  color: #fff;
}
button:hover {
  background-color: #5f73bc;
}


.password{
  position: absolute;
  right: 30px;
}

.compte{
  left: 50px;
  position: absolute;
}