<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Gestion d'amis et groupes</title>
  <link rel="stylesheet" href="../static/CSS/ajouter.css">
</head>
<body>
    <div class="alert-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              {% if category == 'error' %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              {% else %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>
    <div class="container">
        <div class="barre">
            <a href="../HTML/page_accueil.html"><ion-icon name="arrow-back-outline"></ion-icon></a>
        </div>
        <div class="contain">
            <div class="contain1">
                <h1>Amis</h1>
                <div class="bouton">
                    <form id="addFriendForm" method="POST" action="{{ url_for('friend.add_friend') }}">
                        <input type="text" id="friend_name" name="friend_name" placeholder="Nom de l'ami">
                        <div class="o">
                            <input type="submit" class="accepter" value="Envoyer une demande"></button>
                        </div>
                    </form>
                </div>
                <div class="amisEnAttente" id="amisEnAttente">
                    <h2>Amis en attente</h2>
                    <div class="attente">
                        <div class="amiEnAttente">
                        <ul>
                            {% for row in donnees %}
                            <li>
                                {{ row.login }}
                                <div class="actions">
                                <form method="POST" action="{{ url_for('friend.accept_demand', demande_id=row.id_demande)}}">
                                    <button type="submit">Accepter</button>
                                </form>
                                <form method="POST" action="{{ url_for('friend.reject_demand', demande_id=row.id_demande)}}">
                                    <button type="submit">Refuser</button>
                                </form>
                                </div>
                            
                            </li>
                            {% endfor %}
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
