<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Accueil</title>
    <link rel="stylesheet" href="../static/CSS/page_acuuel.css">

</head>
<body>
    <div class="alert-container">
        {% with messages = get_flashed_messages(with_categories=true) %} 
            {% if messages %} 
                {% for category, message in messages %} 
                    {% if category == 'error' %}
                        <div class="alert alert-danger alter-dismissable fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% else %}
                        <div class="alert alert-success alter-dismissable fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <div class="container">
        <div class="leftside">
            <!--header-->
            <div class="header">
                <div class="user">
                    <img src="../static/Image/user.svg" class="cover">
                </div>
                <p>{{ user.name }}</p>
                <ul class="nav_icons">
                    <li><a href="{{ url_for('friend.ajouter') }}"><ion-icon name="person-add-outline"></ion-icon></a></li>
                    <li><a href="{{ url_for('friend.groupe') }}"><ion-icon name="people-outline"></ion-icon></a></li>
                    <li><a href="{{ url_for('friend.parametre') }}"><ion-icon name="ellipsis-vertical"></ion-icon></a></li>
                </ul>
            </div>
            <!--search-->
            <div class="search_chat">
                <div>
                    <input type="text" placeholder="Recherche">
                    <ion-icon name="search-outline"></ion-icon>
                </div>
            </div>
            <!--chat list-->
            <div class="chatlist">
                {% for chat in chats %}
                <a href="{{ url_for('message.getChatDetails', chat_id=chat[0]) }}">
                        <div class="block">
                            <div class="imgbx">
                                <img src="../static/Image/user.svg" class="cover">
                            </div>
                            <div class="details">
                                <div class="listHead">
                                    <h4>{% if chat[0] in chat_members %}
                                        {% if user.id == chat_members[chat[0]][0][0] %}
                                            <p>{{ chat_members[chat[0]][1][1] }}</p>
                                        {% else %}
                                            <p>{{ chat_members[chat[0]][0][1] }}</p>
                                        {% endif %}
                                        {% endif %}
                                    </h4>
                                    <p class="time">{% if chat[3] %}{{chat[3]}}{% else %}Inconnu {% endif %}</p>
                                </div>
                                <div class="message_p">
                                    <p>{% if chat[2] %}{{ chat[2] }}{% else %}Aucun message{% endif %}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>            
        </div>
        <div class="rightside">
            <div class="header">
                <div class="imgtext">
                    <div class="user1">
                        <img src="../static/Image/user.svg" class="cover">
                    </div>
                    <h4>  {{username}} </h4>
                    <!--<h4>{{ user.first_name }}<br><span>{% if user.online %}Online{% else %}Offline{% endif %}</span></h4>-->
                    <!--le nom du contact et si il est en ligne ou non-->
                </div>
            </div>
    
            <!--chatbox-->
            <div class="chatbox">
                <div class="amis1">
                {% if history %}
                    {% for message in history %}
                    
                        {% if message['User'] == currentUserName %}
                            <div class="message my_message">
                                <p>{{ message['Text'] }} <span>{{ message['Date'].strftime('%H:%M') }}</span></p>
                            </div>
                        {% else %}
                            <div class="message frnd_message">
                                <p>{{ message['Text'] }} <span>{{ message['Date'].strftime('%H:%M') }}</span></p>
                            </div>
                        {% endif %}
                        
                    {% endfor %}
                {% endif %}
                
                </div>
                <!-- Mettez ici le contenu de la chatbox, dynamiquement chargé avec JavaScript -->
            </div>
            <!--chat list-->
    
            <!--chat input-->
            <form method="POST" action="{{ url_for('message.send_message') }}">
                <div class="chatbox_input">
                    <input type="text" name="message" placeholder="Ecris ton message">
                    <button type="submit" name="submit"><ion-icon name="send-outline"></ion-icon></button>
                </div>
            </form>
        </div>
    </div>
    
    
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const samir = document.querySelector('.leftside .block:nth-child(1)');
            const joel = document.querySelector('.leftside .block:nth-child(2)');
            
            const amis1 = document.querySelector('.rightside .amis1');
            const amis2 = document.querySelector('.rightside .amis2');
            const imgtext = document.querySelector('.rightside .imgtext h4');

            samir.addEventListener('click', () => {
                amis1.style.display = 'block';
                amis2.style.display = 'none';
                imgtext.innerHTML = 'Samir<br><span>Online</span>';
            });

            joel.addEventListener('click', () => {
                amis1.style.display = 'none';
                amis2.style.display = 'block';
                imgtext.innerHTML = 'Joel<br><span>Online</span>';
            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>